body{
    padding: 50px;
}
.first{
  padding: 10px;
  margin: 50px;
  
}
.sec{
    padding: 10px;
    margin: 50px;
}
button{
    height: 70px;
    width: 100px;
    padding: 10px;
    margin: 100px;
}
h2{
    color: rgb(70, 111, 201);
    margin: 0 50px;
    font-size: 45px;
}